.btn-primary {
  background-color: #EF6A3E;
  color: white;
}
.btn-primary:hover {
  background-color: #DC5A2D;
}

.form-input:focus,
.form-select:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-color: #EF6A3E;
  box-shadow: 0 0 0 2px rgba(239, 106, 62, 0.4);
}

.form-checkbox,
.form-radio {
  height: 1rem;
  width: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #CBD5E1;
  color: #EF6A3E;
  vertical-align: middle;
}
